[Desktop Entry]
Name=FINAL FANTASY TACTICS - The Ivalice Chronicles
Comment=Play this game on Steam
Exec=steam steam://rungameid/1004640
Icon=steam_icon_1004640
Terminal=false
Type=Application
Categories=Game;
